@import "globol";

//navbar-start
#navbar{
  background: #FFFFFF;
  padding: 10px 0;
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav{
      a{
        margin-left: 24px;
        font-weight: 500;
        font-size: 16px;
        color: #333333;
      }
    }
    button{
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      width: 205px;
      height: 54px;
      background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
      border-radius: 9px;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}
//navbar-end

//hero-start
#hero{
  background: #F7F6FF;
  padding: 40px 0;
  .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--logo{
      h1{
        font-weight: 800;
        font-size: 45px;
        color: #333333;
        span{
          font-weight: 500;
        }
      }
      p{
        padding: 20px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
      }
    }
    &--btn{
      margin-top: 30px;
      &__one{
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 241px;
        height: 54px;
        background: #77B2D3;
        border-radius: 250px;
        &:hover{
          transform: scale(1.1);
        }
      }
      &__two{
        margin: 0 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 114px;
        height: 54px;
        background: #77B2D3;
        border-radius: 250px;
        &:hover{
          transform: scale(1.1);
        }
      }
      &__three{
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 141px;
        height: 54px;
        background: #77B2D3;
        border-radius: 250px;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}
//hero-end

//part-start
#part{
  background: #F7F6FF;
  padding: 40px 0;
  .part{
    h1{
      padding-right: 20px;
      padding-top: 40px;
      padding-left: 25px;
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      text-transform: uppercase;
      color: #333333;
    }
    width: 1170px;
    height: 254px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    &--logo{
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__line{
        margin-top: 50px;
        width: 86px;
        height: 0;
        border: 1px solid #C7C7C7;
        transform: rotate(90deg);
      }
      &__one{
        h1{
          font-weight: 800;
          font-size: 50px;
          line-height: 48px;
          background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          span{
            font-size: 30px;
            font-weight: 600;
          }
        }
        p{
          padding-right: 10px;
          padding-left: 55px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #333333;

        }
      }
    }
  }
}
//part-end

//will-start
#will{
  background: #F7F6FF;
  padding: 40px 0;
  h1{
    padding: 41px 0;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: #333333;

  }
  .will{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      width: 195px;
      height: 54px;
      background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
      border-radius: 9px;
      &:hover{
        transform: scale(1.1);
      }

    }
    &--logo{

      margin-left: 10px;
      width: 220px;
      height: 378px;
      background: #FFFFFF;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      &__blog{
        width: 220px;
        height: 74px;
        background: #77B2D3;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
        border-radius: 15px 15px 0 0;
        h2{
          padding-top: 10px;
          font-weight: 800;
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
      &__icon{
        display: flex;
        align-items: start;
        margin-top: 18px;
        margin-left: 16px;
        h3{
          font-weight: 400;
          font-size: 16px;
          color: #333333;
        }
        &--title{
          margin-right: 8px;
          width: 17px;
          height: 17px;
          background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
          border-radius: 50%;
          ion-icon{
            color: #FFFFFF;
          }
        }
      }
      &__title{
        margin-left: 10px;
        margin-top: 10px;
        width: 200px;
        height: 0;
        border: 1px solid #E2E2E2;
      }
      &__desc{
        h4{
          padding-left: 20px;
          font-weight: 800;
          font-size: 30px;
         color: #9021AC;
          span{
            color: black;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
//will-end

//class-start
#class{
  background: #F7F6FF;
  padding: 40px 0;
  .class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--logo{
      button{
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        width: 195px;
        height: 54px;
        background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
        border-radius: 9px;
        &:hover{
          transform: scale(1.1);
        }
      }
      &__input{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
        width: 570px;
        height: 141px;
        background: #FFFFFF;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        border: none;
        margin: 20px 0;
      }
      h1{
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
        color: #333333;
      }
      p{
        padding: 20px 0;
        font-weight: 400;
        font-size: 16px;
        color: #333333;
      }
      &__block input{
        background: #FFFFFF;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        padding: 20px 40px;
        border: none;
      }
    }
  }
}
//class-end

//alibaba-start
#alibaba{
  background: #F7F6FF;
  padding: 40px 0;
  h1{
    padding: 41px 0;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: #333333;
  }
  .alibaba{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-icon{
      //background: #D1D1D1;
      color: black;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &--logo{
      margin-left: 30px;
      width: 570px;
      height: 518px;
      background: #FFFFFF;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      &__img{
          margin-top: 20px;
      }
      h4{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-weight: 800;
        font-size: 18px;
        text-transform: uppercase;
        color: #333333;
      }
      img{
        margin-left: 28px;
        margin-top: 2px;
      }
      p{
        padding: 20px 28px;

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
      }
      &__blog{
        width: 570px;
        height: 161px;
        background: #F3F1FE;
        h2{
          padding: 21px 28px;
          font-weight: 800;
          font-size: 18px;
          text-transform: uppercase;
          color: #333333;
        }
        &--block{
          display: flex;
          align-items: center;
          justify-content: space-around;
          &__one{
            h3{
              font-weight: 400;
              font-size: 15px;
              color: #333333;
              span{
                font-weight: 800;
                font-size: 18px;
                color: #333333;
              }
            }
          }
        }
      }
    }
    &--title{
      margin-left: 30px;
      width: 570px;
      height: 518px;
      background: #FFFFFF;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px;

      h4{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-weight: 800;
        font-size: 18px;
        text-transform: uppercase;
        color: #333333;
      }
      &__img{
        margin-left: 28px;
        margin-top: 55px;
      }
      img{
        margin-left: 28px;
      }
      p{
        padding: 20px 28px;

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
      }
      &__blog{
        width: 570px;
        height: 161px;
        background: #F3F1FE;
        h2{
          padding: 21px 28px;
          font-weight: 800;
          font-size: 18px;
          text-transform: uppercase;
          color: #333333;
        }
        &--block{
          display: flex;
          align-items: center;
          justify-content: space-around;
          &__one{
            h3{
              font-weight: 400;
              font-size: 15px;
              color: #333333;
              span{
                font-weight: 800;
                font-size: 18px;
                color: #333333;
              }
            }
          }
        }
      }
    }
  }

}
//alibaba-end